<div class="row">
  <div class="col-md-6">

    <div class="pane">
      <h5 class="text-center" *ngIf="names.length === 0">No users are currently logged in.</h5>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item" *ngFor="let name of names">
          <a class="nav-link" [routerLink]="name" routerLinkActive="active">
            {{ name }}
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="col-md-6">

    <a class="btn btn-outline-info btn-block mb-3"
       routerLink="/chat" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">
      Commons
    </a>
    <div class="pane">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item" *ngFor="let room of rooms">
          <a class="nav-link" [routerLink]="['room', room]" routerLinkActive="active">
            {{ room }}
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
