<div class="pane chat-window">
  <h2>Chat with {{ target }}</h2>
  <form #chatForm="ngForm" (submit)="onChat()">
    <div class="form-group">
      <input type="text" class="form-control" name="chat" ngModel required>
      <button type="submit" class="btn btn-primary btn-block my-3" [disabled]="!chatForm.valid">
        Send
      </button>
    </div>
  </form>
  <div class="chat-message" *ngFor="let msg of messages" [ngClass]="{'own-message': target !== msg.name}">
    {{ msg.name }}: {{ msg.content }}
  </div>
</div>
